h1, p, .card, a {
    color: #DEFFF2;
}

input[type="search"] {
    width: 300px;
}

.border {
    width: 100vh;
    border: 1px solid #D68FD6!important;
}

.card {
    background-color: #000009;
}

hr {
    color: #D68FD6;
    border: 1px solid #D68FD6;
    opacity: 1;
}

.card-text {
    margin-bottom: 10px;
    width: 400px;
}

p {
    margin: 0;
}

.text-space {
    padding-top: 20px;
    display: block;
}

a:hover {
    color: #0FF4C6;
    transform: scaleX(1.02);
}

.card .card-body{
    position: relative;
}

.card .card-body .event-status{
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

.event-status.red{
    background-color: #c0392b;
}
.event-status.blue{
    background-color: #3498db;
}
.event-status.green{
    background-color: #27ae60;
}