{% extends 'base.html.twig' %}

{% block title %}Liste des événements - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/components/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/event/list.css') }}">
{% endblock %}

{% block body %}
    <h1>Les événements</h1>

{% endblock %}