{% extends 'base.html.twig' %}

{% block title %}Politique d'utilisation des cookies{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Politique d'utilisation des cookies</h1>

   <p>Notre politique d'utilisation des cookies</p>

    <li>Par le fait que vous accédez au site web GAMEET, 
        vous acceptez que cette Politique d'utilisation des cookies s'applique
     à chaque fois que vous accédez au Site web quel que soit l'appareil que vous utilisez à cette fin.</li>
    
    <li>Toute modification apportée à cette politique sera publiée ici, 
    nous nous réservons le droit de la modifier de façon ponctuelle, 
    et votre utilisation continue du Site web équivaut à un accord de votre part à ces modifications.</li>

    <p>Notre utilisation des cookies</p>

    <li>Comme de nombreuses entreprises, tous, ou certains Sites web
         peuvent utiliser des « cookies » qui indiquent
          entre autres le nombre d'utilisateurs qui se sont connectés à notre Site web et les pages consultées.</li>
    
    <li>Les cookies sont des fichiers de texte placés sur le disque dur de votre ordinateur lorsque vous consultez certains sites web. 
        Nous pouvons utiliser des cookies pour, par exemple, savoir si vous avez précédemment consulté le site ou si vous êtes un nouvel utilisateur 
        et pour nous aider à identifier les fonctionnalités du site qui vous intéressent le plus.
         Les cookies peuvent améliorer votre expérience en ligne en sauvegardant vos choix lors de la visite du site GAMEET</li>
    
   <li>La plupart des cookies que nous utilisons sont des « cookies de personnalisation » utilisés pour reconnaitre les visiteurs
        qui ont déjà consulté les sites web et des « cookies analytiques » qui suivent l'utilisation de notre Site web par les utilisateurs
         pour que nous puissions savoir quel contenu retient plus leur attention. </li>
        <li> Les principaux cookies utilisés sur notre Site web sont les suivants :</li>
            Analytique et Publicité : 
            Ces cookies nous permettent d'améliorer notre Site web au fil du temps, en nous dévoilant comment les différentes parties du Site web sont utilisées et comment les utilisateurs interagissent avec le site web. Les informations collectées sont anonymes et statistiques. Nous utilisons les services de Google pour analyser le trafic. Les informations relatives à votre utilisation du site sont partagées avec Google.

            <li>Authentification : </li>
            <li>Ces cookies sont utilisés pour identifier les visiteurs uniques sur le Site web. Si vous vous connectez au Site web, ces cookies nous permettent de nous souvenir de qui vous êtes afin que nous puissions vous donner accès à vos pages personnelles comme les pages de votre compte. Ces cookies permettent d'assurer le caractère sécurisé de votre visite.
            
            Session :  Ces cookies sont conçus pour que votre visite du Site web soit aussi agréable que possible. Leurs principales utilisations sont :
            • nous permettre d'identifier l'appareil que vous utilisez pour que vous ne soyez pas considéré comme un nouveau visiteur lorsque vous accédez à une autre section du site web ;
            • assurer que les serveurs que nous utilisons pour accueillir le site web servent tous un nombre égal d'utilisateurs, pour que la navigation de chacun soit aussi agréable et réactive que possible ;
            • noter les capacités de votre navigateur.
            
           <li> Toutes les informations collectées via l'utilisation de cookies sont cryptées et nous ne collectons aucune information comme des numéros de carte bancaires via des cookies.</li>

          <li>Politique de respect de la vie privée et réclamations</li>

          <li>Votre droit au respect de la vie privée est très important pour GAMEET. Nous pensons que les informations personnelles que vous nous fournissez doivent être utilisées de façon responsable et conformément à la législation en vigueur. Veuillez consulter notre Politique de confidentialité pour des détails supplémentaires.
           GAMEET prend au sérieux les préoccupations de ses utilisateurs. 
           Si vous pensez que GAMEET n'a pas respecté cette Politique d'utilisation des cookies ou si vous avez des questions sur nos pratiques en termes de respect de la vie privée en général, vous pouvez écrire à Gameet par courriel à : contact@gameet.net.
           Si vous avez une réclamation, veuillez décrire aussi précisément que possible la façon dont, selon vous, la Politique d'utilisation des cookies n'a pas été respectée.
           <li> Nous examinerons votre réclamation rapidement.</li>


{% endblock %}
