{% extends 'base.html.twig' %}

{% block title %}
    Contact - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Contactez-nous</h1>
    N'hésitez pas à nous contacter si vous avez une question, une remarque.
    


{% endblock %}