{% extends 'base.html.twig' %}

{% block title %}
    Gameet  
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main/index.css') }}">
{% endblock %}

{% block body %}
    <div class="landing">
        <div class="landing-content">
            <h1>Bienvenue sur Gameet</h1>
            <h2>Vivez votre aventure avec les meilleurs joueurs</h2>
        </div>
    </div>
{% endblock %}


