{% extends 'base.html.twig' %}

{% block title %}Présentation de Gameet!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<h1>Présentation du réseau social Gameet</h1><br>


</p>
<li>Le site Gameet (contraction du mot game(jeu) et meet(rencontre)<br>
	est un réseau social qui à été créé le 2 décembre 2021<br>par Aicha,Asma,Nicolas,Saad.
</li></p><br><li>Les activités principales sont  la rencontre  entre joueurs de jeux vidéo,<br>

jouer ensemble seul ou à plusieurs, parler des jeux que l’on aime, devenir amis,<br>
créer des équipes(guilde/clan).<br><br></li><li>Notre objectif est de créer une communauté entre joueurs,<br>
rencontrer de nouveaux amis
<br>
qui s'intéresse au même jeux que nous.<br><br></li><li>Faire des rencontres virtuelles qui peuvent amenés à
<br>
devenir amis de jeux, jouer ensemble ,s'amuser.<br><br></li><li>Comme un réseau social, chaque joueur pourra retrouver ses contacts
<br>
mais également se mettre en relation avec d'autres personnages.<br><br></li><li>Notre plateforme reunira toutes les communautés de joueurs en ligne confondues
<br><br></li><li>Elle aura aussi un regard impliqué sur toute les tendances qui touchent aux jeux vidéo.<br>


<br><h2>
	N'ayez pas peur , rejoignez-nous!</h2>
<h3>Vivez de votre passion!</h3></li></ol>{% endblock %}
