{% extends 'base.html.twig' %}

{% block title %}Confidentialité{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <h1>Confidentialité</h1>

<ol>
    
   <br><li>Responsable du Traitement
    Toutes les Données Personnelles que vous nous fournissez au moment de votre inscription et 
    lors de l'utilisation de nos Services, sont gérées par l’entreprise Gameet. 
    Gameet déclare avoir soumis ces traitements à déclaration auprès de la CNIL Commission Nationale de 
    l'Informatique et des Libertés (France) (Traitements n° 1813223).
    Conformément à la loi n° 78-17 du 6 janvier 1978 (Loi Française), l’utilisateur dispose d'un droit d'accès, 
    de rectification et de retrait pour les Données Personnelles qu’il a apporté sur ce site.</li><br>
    
    <li>Contenu et Informations partagées
    Nous vous rappelons que le contenu et les informations que vous publiez sur le site gameet vous appartiennent, 
    vous avez la possibilité de gérer la publication de ces informations.</li><br>
    
    <li>Les Données Personnelles
    Les Données Personnelles désignent l'ensemble des informations que vous nous fournissez directement, 
    notamment lorsque vous vous inscrivez sur Gameet.</li><br>
    
    <li>Sécurité
    Gameet ne garantit pas une sécurité totale de ses Services, mais nous mettons tout en œuvre pour délivrer 
    des Services sécurisés.</li><br>
    
    <li>Finalités du Traitement:
    Les Données Personnelles sont susceptibles d'être utilisées.</li><br>
    
    <li>Divulgation de Données Personnelles dans l’Annonce ou l’Evènement par l’Annonceur:
    Les Annonces, les Evènements publiés sur le Site, sont librement consultables par les Utilisateurs et 
    elles pourront être automatiquement indexées par un moteur de recherches.</li><br>
    
   <li>  Vos Droits d’Accès, de Modification, d’Opposition des Données Personnelles vous concernant:
    Conformément à la législation Française en vigueur, Vous disposez d'un droit d'accès, de rectification, 
    de suppression, ainsi que d'opposition au traitement de ses Données Personnelles. 
    Vous pouvez exercer ses droits en adressant un e-mail au service de modération accessible en pied-de-page.</li><br>
    
    <li>Cookies
    Le site Gameet utilise également un système de cookies et pixels publicitaires issus de Partenaires tiers. 
    Ce système de cookies et pixels permet la diffusion de publicités sélectionnées selon les préférences et affinités 
    de l’utilisateur. Les données utilisées par ce système sont anonymes.</li><br>
    
    <li>Autres liens
    Le Site peut contenir des liens sponsorisés renvoyant vers des sites d'autres Partenaires ou des liens renvoyant 
    vers d’autres sites.</li><br>
    
</ol>

{% endblock %}
