{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisations{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Conditions d'utilisations</h1><br>

    <p>Conditions Générales d’Utilisation (CGU) de Gameet:</p>

    <li>Les CGU ont pour objet de déterminer les conditions d'Utilisation du Site et des Services mis à 
    disposition des membres et des équipes. Ces CGU constituent un contrat entre
    l’Utilisateur du site, et l'équipe administratrice.</li>
    
    <li>L'utilisateur du site Gameet est encouragé à se tenir informer des politiques de confidentialités. 
    Celles-ci, renseignent la manière dont vos informations sont collectées et utilisées mais également, 
    la bonne pratique à avoir lors de transmission et publication de contenu.</li>
    
    <li>L'acceptation de la charte Gameet est obligatoire afin de valider son inscription en tant que membre.</li>
    
    <li>Tout utilisateur déclare avoir pris conscience des conditions générales d'utilisations ainsi que de la 
    charte du site et s'engage à respecter toutes les règles de bon utilisation en tant que membre de Gameet.</li>
    
    <li>Au sein de Gameet, chaque membre peut créer un espace privé, dans lequel il peut accéder à sa liste d'équipe,
    d'évènements, d'annonces qu'il a publié ou auxquelles il a répondu. Il peut y gérer également ses 
    informations personnelles.</li>
    <li>L'utilisateur peut créer une équipe, un événement, une annonce. </li>
    
   <li> L'utilisateur ne peut créer qu'un seul compte sur le site. Pour cela, un formulaire d'inscription est 
    accessible depuis toutes les pages du site. Il s'engage à garder son mot de passe confidentiel et admet que 
    Gameet n'est pas responsable d'une utilisation frauduleuse de son compte.</li>
    
    <li>L'utilisateur s'engage à composer son profil d'informations correctes et de ne pas usurper l'identité d'autrui 
    lors de la création de son profil membre de Gameet.</li>
    
    <li>Lors de dépôt d'annonce ou de création d'événement, l'utilisateur s'engage à renseigner des informations réelles. 
    Un délai est à prendre en compte avant la publication de l'événement afin que l'équipe modératrice puisse 
    valider la mise en ligne de l'annonce ou de l'événement sur Gameet.</li>
    
    <li>Gameet peut supprimer tout profil, contenu, annonce ou évènement qui serait non conforme aux règles 
    d'utilisations.
    Un moyen de contacter le service de modération est disponible depuis toutes les pages du site. 
    L'équipe modératrice confirmera la réception de la demande et la traitera dans les meilleurs délais.</li>
    
   <li>Une fois l'annonce ou l'événement mis en ligne, l'équipe Gameet n'est pas responsable en cas d'annulation 
    ou suppression de l'annonce ou de l'événement.</li>
    
    <li>L'utilisateur peut à tout moment modifier ou supprimer son compte depuis son espace personnel. </li>
    
{% endblock %}
