    <footer>

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Accueil</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Connexion - Inscription</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Joueurs</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Équipes</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Annonces</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Évènements</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Actualités</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Présentation GAMEET</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Modération</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Contact</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Conditions générales</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Charte GAMEET</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Politique de confidentialité</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Politique d'utilisation des cookies</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Mentions légales</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->



        <!-- Copyright -->
        <div class="text-center p-3">
            Copyright © 2021 GAMEET - Tous droits réservés.
            <br>
            Toutes les marques commerciales, logos, images, supports et produits cités appartiennent à leurs propriétaires respectifs.
        </div>
        <!-- Copyright -->

    </footer>

</body>
</html>
