<div class="account">
        {% if app.user %}
            <a href="#">
                <i class="fas fa-user"></i>
                {{ app.user.username }}
            </a>
            <a href="{{ path('logout') }}">
                Déconnexion
            </a>
        {% else %}
            <a href="{{ path('login_') }}">
                Connexion
            </a>
            <a href="{{ path('app_register') }}">
                Inscription
            </a>
        {% endif %}
    </div>