{% extends 'base.html.twig' %}

{% block title %}Charte Gameet{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


    <h1>Charte Gameet</h1>

   <br><li>Afin que le site reste un endroit calme et convivial, merci d'appliquer les quelques règles suivantes :</li><br>
    
  <li>Ne créez pas de faux :<br>
    <li>Pas de faux Profils, pas de fausses Annonces, ni de faux Evènements. </li><br>
    
    <li>Gardez votre calme :<br>
   <li>Lors d'une discussion, essayez de ne pas vous emporter, critiquez les arguments, et n'attaquez pas la personne. </li><br>
    <li> Un peu de politesse :</li><br>
    <li>Ne négligez pas les formules de politesse. <br>
    <li>Ce n'est pas parce que vous êtes sur un réseau qu'il faut oublier que vous parlez à des gens que vous 
    ne connaissez pas.</li><br>
    <li>Evitez les MAJUSCULES :<br>
    <li>Les majuscules sur les réseaux sociaux sont considérées comme un cri, ou un signe d'énervement.</li><br>
    <li>Evitez le langage SMS :<br>
   <li>Vous êtes sur un réseau social, vous n'êtes pas limité en nombre de caractères.</li><br>
    <li>Essayez de formuler vos 
    discussions en français ou en anglais correct, de manière à vous faire comprendre du plus grand nombre.<br>
   <li>Choisissez bien le titre de l’Annonce, de l’Evènement ou du Média :<br>
    <li>Pensez à rédiger un titre explicite et clair.</li><br>
    <li>Règles de dépôt et de diffusion pour les Annonces et les Evènements :</li><br>
    <li>Ne sont autorisés uniquement la publication et la diffusion d’Annonce proposant des produits originaux.</li></li><br>
    <li> Toute Annonce contenant des éléments de textes, photos,qui sembleraient contraires aux dispositions
     légales ou réglementaires
     <li>et susceptible de troubler ou choquer les visiteurs du site sera supprimé sans préavis.<br>
    <li>L'annonce d'un bien à vendre doit être déposée dans le pays, département où le bien se situe réellement.</li><br>
    <li>Les photos de l’Annonce doivent correspondre au bien à vendre, dans le cas contraire l'Annonce sera supprimé.<br>
    <li> Le texte de l'Annonce doit impérativement décrire le produit, bien, service, objet de l'Annonce.</li><br>
      <li>Nous ne pouvons être tenus pour responsables en cas de problème au cours d'une transaction
         intervenue entre deux utilisateurs à la suite d'une Annonce sur le Site Gameet.</li><br>
     <li>Essayez de faire des transactions dans votre pays, dans votre région. </li><br>
     <li>Quoi qu'il en soit, restez prudents.</li>
    <li>Protection des mineurs :</li><br>
    <li>Internet est un outil de communication formidable pour rencontrer de nouvelles personnes et se faire de
     nouveaux amis.</li><br>
     <li>Mais attention, ne sachant jamais qui est derrière le clavier, ou qui peut voir vos 
    informations personnelles, voici quelques conseils pour les plus jeunes :</li><br>
    <li>Evitez de donner des informations personnelles vous concernant.</li><br>
    <li>Vous serez entièrement responsable de cette action, Gameet ne sera pas reconnu comme responsable.</li><br>
    <li>Qu'est-ce qu'on entend par informations personnelles :<br>
    <li> Votre numéro de téléphone.</li><br>
    <li>Votre nom de famille.</li><br>
    <li>Une adresse mail type nom.prénom@monfournisseur.com (sera toujours cachée).</li><br>
    <li>Le nom de votre école/collège/lycée.</li>
    <li>Votre adresse ou votre ville de résidence.</li><br>
     <li>Si quelqu'un divulguait ces informations sans votre accord, vous êtes en droit de demander la suppression 
    immédiate du message et le bannissement de son auteur.<br>
    <li>Faites toujours attention aux personnes que vous rencontrez, on ne vous demande pas de devenir parano,
     mais il est très facile de mentir quand on est derrière un clavier.</li><br>
{% endblock %}
