h1.text-center, h2.text-center{
    color: #0ff4c6;
}

h2,h3,h4{
    text-align:center;
    color:#0ff4c6;
}
.text-center{
    font-size: 1.4rem;
    color: #defff2;
}


.gap-5{
    gap: 20rem!important;
}

    
    

body{
    background-color: #000009;
  
   color:aliceblue;
   
}





img{
 
    width:600px;
  
  
}
.imag {

    width:300px;
}
* {
     box-sizing:border-box;
    margin: 0;
    padding: 0;

 }
header{
        margin:60px;
        height:50vh;
        
    }



 .slider {

   align-items:center;
    position:relative;
    width: 600px;
    overflow:hidden;
    }


.images{
    display:flex;
   
   
}
.images img {

    display:flex;
   height: 400px;
   
   transition: all 0.15s ease;
}

.images input {

        display: none;
}

.ima{
    display:flex;
    width:200px;
}
 

.dots { 

    display:flex;
    justify-content: center;
    margin : 5px;
}
        
.dots label {
        height: 20px;
        width:20px;
        border-radius: 50%;
        border: solid #defff2 3px;
        cursor: pointer;
        transition: all 0.15s ease;
        margin: 5px;
}
        
.dots label:hover {background: #defff2;} 
#img1:checked ~ .m1 {
    margin-left: 0;
    }

#img2:checked ~ .m2 {
  margin-left: -100%;
 }
#img3:checked ~ .m3 {
    margin-left: -200%;
    }

    
    
p{
    text-align:left;
    color:#0ff4c6;
  

}


footer{

    margin:15%;
}

